body{
    margin: 0;
    padding: 0;
    height: 100vh;

}

.bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: black;
    box-sizing: border-box;
    padding-top: 60px;

}

.simple-container{
    width: 80%;
    /* min-height: 300px; */
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: end;
}

.list-container{
    box-shadow: 2px 2px 7px 2px #00000036;
    width: 80%;
    /* min-height: 300px; */
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    padding: 10px;
}




.list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.list-header{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 12px;
}

.list-row{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: row;
    /* margin-bottom: 5px;
    margin-top: 5px; */
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    transition-duration: 0.2s;
}

.list-row:hover{
    background-color: rgb(204, 204, 204);
   
}

.row-container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.row-container.right{
    max-width: 30px;
    
}

#list-body{
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 5px;
}


#registerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color:rgb(0, 185, 62);
    border: 2px solid rgb(0, 185, 62);
    font-size: 12px;
    font-family: sans-serif;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 10px;
}

#registerButton:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(0, 185, 62);
    border: 2px solid rgb(0, 185, 62);
}

.no-select{
    user-select: none;
}

#refreshButton{
    font-family: sans-serif;
    font-size: 12px;
    color: grey;
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}

.bi-trash{
    color: red;
}


/* ----------------- */

.filter-container{
    background-color: white;
    box-shadow: 2px 2px 7px 2px #00000036;
    width: 80%;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
    
}

.filter-option-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 120px;
    flex-wrap: wrap;
    span{
        font-family: sans-serif;
        font-size: 11px;
        width: 100%;
        

    }

    input{
        border: none;
        height: 20px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px #c7c7c7;
        width: 100%;
        outline: 1px solid silver;
    }

    input:focus{
        outline: 1px solid silver;

    }
    select{
        border: none;
        height: 23px;
        border-radius: 4px;
        box-shadow: 1px 1px 4px #c7c7c7;
        width: 100%;
        outline: 1px solid silver;
        color: black;
        font-family: sans-serif;
        font-size: 11px;
    }

    select:focus{
        outline: 1px solid silver;

    }



}

.filter-option-container.titulo{
    width:200px;
}
