body{
    margin: 0;
    padding: 0;
    height: 100vh;

}

.bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: black;
    box-sizing: border-box;
    padding-top: 60px;

}

.simple-container{
    width: 80%;
    /* min-height: 300px; */
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: end;
}

.list-container{
    width: 80%;
    /* min-height: 300px; */
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;


}

.list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.list-header{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    background-color: rgb(230, 230, 230);
    font-family: sans-serif;
    font-size: 12px;
}

.list-row{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.row-container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#list-body{
    
    font-family: sans-serif;
    font-size: 12px;
}


#registerButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color:rgb(0, 185, 62);
    border: 2px solid rgb(0, 185, 62);
    font-size: 12px;
    font-family: sans-serif;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 10px;
}

#registerButton:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(0, 185, 62);
    border: 2px solid rgb(0, 185, 62);
}

.no-select{
    user-select: none;
}

#refreshButton{
    font-family: sans-serif;
    font-size: 12px;
    color: grey;
    display: flex;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}