.loading-screen{
    display: none;
    align-items: center;
    justify-content:center;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    position: absolute;
    transform: translateX(-50px) translateY(-50px);

}

.loading-screen.show{
    display: flex;
}

.loader {
    border: 12px solid #f3f3f300;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}