.pictures-display{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.pictures-container{
    justify-content: center;
    overflow: hidden;
    display: flex;
    height: 115px;
    width: 115px;
    background-color: aliceblue;
    border-radius: 4px;
    border: 1px solid silver;
    cursor: pointer;
    position: relative;
    
    span{
        font-size: 10px;
        width: 100%;
        padding-left: 10px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        position: absolute;
        bottom: 4px;
        color: white;
        -webkit-text-stroke: 0.1px black;
    }
}

.pictures-container:hover{
    border: 1px solid rgb(129, 129, 129);
}   

.add-picture{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 115px;
    width: 115px;
    border-radius: 4px;
    border: 2px dashed rgba(0, 156, 0, 0.500);
    color: rgba(0, 156, 0, 0.500); 
    transition-duration: 0.1s;
    position: relative;
    
    input{
        height: 100%;
        width: 100%;
        opacity: 0;
        margin: 0;
        border: 0;
        padding: 0;
        cursor: pointer;
        position: absolute;
        z-index: 999;
        
    }
    
    svg{
        position: absolute;
        z-index: 1;
    }
    span{

        transform: translateY(45px);
        font-size: 10px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

.add-picture:hover{
    border: 2px dashed rgb(0, 156, 0);
    color: rgb(0, 156, 0);

}

#fileSubmitContainer{
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 110px;
    display: none;
}

#fileSubmitContainer.show{
    display: flex;
}

#fileSubmit{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 135px;
    outline: 1px solid rgba(0, 156, 0, 0.500);
    color: rgba(0, 156, 0, 0.500);
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#fileSubmit:hover{
    background-color: rgba(0, 156, 0, 0.500);
    color: white;
}

