.product-screen-bg{
    position: absolute;
    z-index: 888;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.product-screen-bg.show{
    display: flex;

}

.product-screen{
    z-index: 999;
    position: absolute;
    display: none;
    height: 400px;
    width: 600px;
    background-color: rgb(230, 230, 230);
    outline: 1px solid silver;
}

.product-screen.show{
    display: flex;
}

